TASK #1

Given list of customer_id that doing transaction in 1 day:

customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

How many unique customer_id from above list?4

In [13]:
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901',
               'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461',
               'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']
customer_id.sort()
cust_id = set(customer_id)
print(len(cust_id))

12

TASK #2

Given list of:

Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

Use indexing so you can get this output:

a.16

b.[36, 49, 64, 81]

c.[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [16]:
data = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#a
print(data[3])

#b
print(data[-5:-1])

#c
data.reverse()
print(data)

16
[36, 49, 64, 81]
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

TASK #3

Given a dictionary of:

provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang','Kalimantan Barat': 'Pontianak','Jawa Timur': 'Madiun','Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}

What python command can be use to:

a.Get list of keys available in dictionary

b.Change 'Jawa Timur' value from 'Madiun'  to 'Surabaya'

In [31]:
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh',
            'Sumatera Selatan': 'Palembang',
            'Kalimantan Barat': 'Pontianak',
            'Jawa Timur': 'Madiun',
            'Sulawesi Selatan': 'Makassar',
            'Maluku': 'Ambon'}

#a
print(provinsi.keys())

#b
provinsi['Jawa Timur'] = 'Surabaya'


print(provinsi)

dict_keys(['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku'])
{'Nanggroe Aceh Darussalam': 'Aceh', 'Sumatera Selatan': 'Palembang', 'Kalimantan Barat': 'Pontianak', 'Jawa Timur': 'Surabaya', 'Sulawesi Selatan': 'Makassar', 'Maluku': 'Ambon'}